.main-container{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	width:200px;
	margin:0 auto;
}

header{
	background-color:#d6a916;
	width:100%;
	height:30px;
}

header svg{
	float:right;
	margin-right:10px;
}

.image-container{
	width:150px;
	height:150px;
}

.image-container img{
	width:100%;
	height:100%;
}
